* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

main {    
    background-color: black;
    color: white;
    flex-grow: 1;
    overflow: hidden;
}

.row {
    display: flex;
}

/* Main */

.card_view {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.card_view_item {
    background-color: rgba(207, 207, 207, 0.3);
    padding: 5px; 
    border-radius: 10px;
}

.card_section {
    padding: 77px 87px 27px 87px;
}

.row.card{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 6px;
}

.col {
    position: relative;
}

.user_name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(207, 207, 207, 0.3);
}



/* Footer */


.row.main_footer{
    justify-content: space-between;
    background-color: #222222;
    color: white;
    padding-left: 10px;
}

.menu{
    display: flex;
    gap: 20px;
}

.input_menu {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.icon_text, .angle-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input_menu .icon_text i {
    font-size: 35px;
}

.icon_text.green i {
    color: greenyellow;
}

.menu.right {
    background-color: #4A4A4A;
    color: red;
    padding: 33px 20px;
}
